# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
*.pem

# Debug
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Production
dist
dist-ssr
build
out

# Next.js
.next/
next-env.d.ts
*.tsbuildinfo

# Old frontend (after migration)
/frontend
